*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.navbar{
    background-image: url(./../asset/bev4.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}
header{
    // border: 2px solid black;
    // background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    h1{
        color: rgb(221, 0, 136);

        span{
            color: whitesmoke;
        }
    }
    .nav-link{
        display: flex;
        gap: 50px;
        padding-top: 5px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(221, 0, 136);
    }
    .mobile-svg{
        display: none;
    }
    .input1{
        display: none;
    }
    .web-svg{
        display: flex;
        input{
            border-radius: 20px;
            border: none;
            padding: 0 10px;
        }

        svg{
            width: 25px;
            border: none;
            border-radius: 20px;
            background-color: white;
            margin: 0 10px;
            height: 20px;
            margin-top: 5px;
        }
    }
}

.img-body-section{
    padding: 70px;
    width: 35%;
    h2{
        font-size: 45px;
        line-height: 50px;
    }

    p{
        font-size: 15px;
        margin-top: 10px;
    }
    button{
        font-size: 15px;
        padding: 10px 10px;
        border: none;
        background-color: rgb(221, 0, 136);
        color: white;
        border-radius: 20px;
        width: 40%;
        margin: 20px;
        font-weight: bold;
    }
    button:hover{
        background-color: white;
        color: rgb(221, 0, 136);
        font-weight: bold;
        transition: 2s;

    }
}

@media screen and (max-width: 1000px) {

    header{
        padding: 25px 40px;
        
        h1{
            span{
                color: black;
            }
        }
        
        a{
            display: none;
        }
        .input1{
            display: flex;
            padding-right: 100px;

            input{
            padding: 10px;
            border: none;
            border-radius: 20px;
            }
            
        }
        .mobile-svg{
            display: flex;
            width: 30px;
        }
        .web-svg{
            display: none;
        }
    }
    
    .img-body-section{
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    
    header{
        padding: 25px 60px;
        .input1{
            display: none;
        }
        .mobile-svg{
            display: flex;
            width: 40px;
        }
    }
    
    .img-body-section{
        width: 50%;

        
    p{
        font-size: 12px;
        margin-top: 10px;
    }
    button{
        font-size: 12px;
        padding: 7px 10px;
        border: none;
        background-color: rgb(221, 0, 136);
        color: white;
        border-radius: 20px;
        width: 80%;
        margin: 20px;
        font-weight: bold;
    }
}
}
@media screen and (max-width: 350px) {
    
header{
    h1{
        font-size: 20px;

        span{
            color: black;
        }
    }
    }

    .img-body-section{
        padding: 70px;
        width: 100%;
    h2{
        font-size: 30px;
        line-height: 45px;
    }

    p{
       display: none;
    }
    button{
        font-size: 15px;
        padding: 10px 10px;
        border: none;
        background-color: rgb(221, 0, 136);
        color: white;
        border-radius: 20px;
        width: 40%;
        margin: 20px;
        font-weight: bold;
    }
    button:hover{
        background-color: white;
        color: rgb(221, 0, 136);
        font-weight: bold;
        transition: 2s;

    }
}
}

