h3{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}
hr{
    width: 50px;
    border: 2px solid rgb(221, 0, 136);
    border-radius: 20px;
    margin: 8px auto;
}
.our-menu{
    padding: 0 30px;
    display: flex;
    width: 100%;
    margin: 0;
    
    .our-menu-desc{
        width: 200px;
        display: flex;
        flex-direction: column;
        border:none;
        box-shadow: 1px 1px 3px 0px rgb(121, 0, 74);
        background-color: rgb(245, 229, 239);
        border-radius: 20px;
        margin: 20px;

        img{
            border: none;
            padding: 10px;
            border-radius: 45px;
            background-color: rgb(221, 0, 136);
            box-shadow: 1px 1px 4px 1px rgb(121, 0, 74);
            margin: 20px 10px;
        }
        p{
            font-size: 13px;
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }
        .buy-button{
            width: 70px;
            padding: 5px 15PX;
            border: none;
            background-color: rgb(221, 0, 136);
            color: white;
            font-weight: bold;
            font-size: 12px;
            border-radius: 20px;
            margin: 10px auto;

        }
        .buy-button:hover{
            color: rgb(221, 0, 136);
            background-color: white;
            border: 2px solid rgb(221, 0, 136);
            transition: 2s;
        }


    }
}

@media screen and (max-width: 1000px) {
   
    .our-menu{
        width: 100%;
        flex-wrap: wrap;
        
        .our-menu-desc{
            width: 180px;

            p{
                font-size: 13px;
                width: 80%;
                text-align: center;
                margin: 0 auto;
            }
            .buy-button{
                width: 70px;
                padding: 5px 15PX;
                border: none;
                background-color: rgb(221, 0, 136);
                color: white;
                font-weight: bold;
                font-size: 12px;
                border-radius: 20px;
                margin: 10px auto;
    
            }
            .buy-button:hover{
                color: rgb(221, 0, 136);
                background-color: white;
                border: 2px solid rgb(221, 0, 136);
                transition: 2s;
            }
    
    
        }
    }
    
}

@media screen and (max-width: 700px) {
    
    .our-menu{

        margin: 0;
        
        .our-menu-desc{
            width: 120px;
    }
}
}

@media screen and (max-width: 500px) {
    .our-menu{
        margin: 0;

        .our-menu-desc{
            width: 140px;
    }
}
}

@media screen and (max-width: 300px) {
    .our-menu{
        margin: 0;
        .our-menu-desc{
            width: 120px;
    }
}
}