@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-image: url(./../asset/bev4.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
header h1 {
  color: rgb(221, 0, 136);
}
header h1 span {
  color: whitesmoke;
}
header .nav-link {
  display: flex;
  gap: 50px;
  padding-top: 5px;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: rgb(221, 0, 136);
}
header .mobile-svg {
  display: none;
}
header .input1 {
  display: none;
}
header .web-svg {
  display: flex;
}
header .web-svg input {
  border-radius: 20px;
  border: none;
  padding: 0 10px;
}
header .web-svg svg {
  width: 25px;
  border: none;
  border-radius: 20px;
  background-color: white;
  margin: 0 10px;
  height: 20px;
  margin-top: 5px;
}

.img-body-section {
  padding: 70px;
  width: 35%;
}
.img-body-section h2 {
  font-size: 45px;
  line-height: 50px;
}
.img-body-section p {
  font-size: 15px;
  margin-top: 10px;
}
.img-body-section button {
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  background-color: rgb(221, 0, 136);
  color: white;
  border-radius: 20px;
  width: 40%;
  margin: 20px;
  font-weight: bold;
}
.img-body-section button:hover {
  background-color: white;
  color: rgb(221, 0, 136);
  font-weight: bold;
  transition: 2s;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 25px 40px;
  }
  header h1 span {
    color: black;
  }
  header a {
    display: none;
  }
  header .input1 {
    display: flex;
    padding-right: 100px;
  }
  header .input1 input {
    padding: 10px;
    border: none;
    border-radius: 20px;
  }
  header .mobile-svg {
    display: flex;
    width: 30px;
  }
  header .web-svg {
    display: none;
  }
  .img-body-section {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  header {
    padding: 25px 60px;
  }
  header .input1 {
    display: none;
  }
  header .mobile-svg {
    display: flex;
    width: 40px;
  }
  .img-body-section {
    width: 50%;
  }
  .img-body-section p {
    font-size: 12px;
    margin-top: 10px;
  }
  .img-body-section button {
    font-size: 12px;
    padding: 7px 10px;
    border: none;
    background-color: rgb(221, 0, 136);
    color: white;
    border-radius: 20px;
    width: 80%;
    margin: 20px;
    font-weight: bold;
  }
}
@media screen and (max-width: 350px) {
  header h1 {
    font-size: 20px;
  }
  header h1 span {
    color: black;
  }
  .img-body-section {
    padding: 70px;
    width: 100%;
  }
  .img-body-section h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .img-body-section p {
    display: none;
  }
  .img-body-section button {
    font-size: 15px;
    padding: 10px 10px;
    border: none;
    background-color: rgb(221, 0, 136);
    color: white;
    border-radius: 20px;
    width: 40%;
    margin: 20px;
    font-weight: bold;
  }
  .img-body-section button:hover {
    background-color: white;
    color: rgb(221, 0, 136);
    font-weight: bold;
    transition: 2s;
  }
}

/*# sourceMappingURL=index.css.map */
