@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-image: url(./../asset/bev4.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
header h1 {
  color: rgb(221, 0, 136);
}
header h1 span {
  color: whitesmoke;
}
header .nav-link {
  display: flex;
  gap: 50px;
  padding-top: 5px;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: rgb(221, 0, 136);
}
header .mobile-svg {
  display: none;
}
header .input1 {
  display: none;
}
header .web-svg {
  display: flex;
}
header .web-svg input {
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  outline: none;
}
header .web-svg svg {
  width: 25px;
  border: none;
  border-radius: 20px;
  background-color: white;
  margin: 0 10px;
  height: 20px;
  margin-top: 5px;
}

.img-body-section {
  padding: 70px;
  width: 35%;
}
.img-body-section h2 {
  font-size: 45px;
  line-height: 50px;
}
.img-body-section h2 .naaz-color {
  color: rgb(221, 0, 136);
}
.img-body-section p {
  font-size: 15px;
  margin-top: 10px;
}
.img-body-section button {
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  background-color: rgb(221, 0, 136);
  color: white;
  border-radius: 20px;
  width: 40%;
  margin: 20px;
  font-weight: bold;
}
.img-body-section button:hover {
  background-color: white;
  color: rgb(221, 0, 136);
  font-weight: bold;
  transition: 2s;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 25px 40px;
  }
  header h1 span {
    color: black;
  }
  header a {
    display: none;
  }
  header .input1 {
    display: flex;
    padding-right: 100px;
  }
  header .input1 input {
    padding: 10px;
    border: none;
    border-radius: 20px;
  }
  header .mobile-svg {
    display: flex;
    width: 30px;
  }
  header .web-svg {
    display: none;
  }
  .img-body-section {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  header {
    padding: 25px 60px;
  }
  header .input1 {
    display: none;
  }
  header .mobile-svg {
    display: flex;
    width: 40px;
  }
  .img-body-section {
    width: 50%;
  }
  .img-body-section p {
    font-size: 12px;
    margin-top: 10px;
  }
  .img-body-section button {
    font-size: 12px;
    padding: 7px 10px;
    border: none;
    background-color: rgb(221, 0, 136);
    color: white;
    border-radius: 20px;
    width: 80%;
    margin: 20px;
    font-weight: bold;
  }
}
@media screen and (max-width: 500px) {
  header {
    padding: 10px 20px;
  }
  header h1 {
    padding: 10px;
    font-size: 20px;
  }
  header h1 span {
    color: black;
  }
  .img-body-section {
    padding: 70px;
    width: 100%;
  }
  .img-body-section h2 {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
  }
  .img-body-section p {
    text-align: center;
    font-size: 15px;
  }
  .img-body-section .order {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-body-section button:hover {
    background-color: white;
    color: rgb(221, 0, 136);
    font-weight: bold;
    transition: 2s;
  }
}
main {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
}
main .home {
  margin: 20px 0;
}
main .home h3 {
  text-align: center;
  font-size: 25px;
}
main .home hr {
  width: 50px;
  border: 2px solid rgb(221, 0, 136);
  border-radius: 20px;
  margin: 8px auto;
}
main .home p {
  line-height: 34px;
}
main .home .mobile-para {
  display: none;
}

@media screen and (max-width: 1000px) {
  main {
    width: 90%;
  }
  main .home p {
    line-height: 34px;
  }
  main .home .mobile-para {
    display: flex;
  }
  main .home .web-para {
    display: none;
  }
}
h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

hr {
  width: 50px;
  border: 2px solid rgb(221, 0, 136);
  border-radius: 20px;
  margin: 8px auto;
}

.our-menu {
  border: 2px solid black;
  padding: 0 30px;
  display: flex;
  width: 100%;
}
.our-menu .our-menu-desc {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 1px 1px 3px 0px rgb(121, 0, 74);
  background-color: rgb(245, 229, 239);
  border-radius: 20px;
  margin: 20px;
}
.our-menu .our-menu-desc img {
  border: none;
  padding: 10px;
  border-radius: 45px;
  background-color: rgb(221, 0, 136);
  box-shadow: 1px 1px 4px 1px rgb(121, 0, 74);
  margin: 20px 10px;
}
.our-menu .our-menu-desc p {
  font-size: 13px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.our-menu .our-menu-desc .buy-button {
  width: 70px;
  padding: 5px 15PX;
  border: none;
  background-color: rgb(221, 0, 136);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 20px;
  margin: 10px auto;
}
.our-menu .our-menu-desc .buy-button:hover {
  color: rgb(221, 0, 136);
  background-color: white;
  border: 2px solid rgb(221, 0, 136);
  transition: 2s;
}

@media screen and (max-width: 1000px) {
  .our-menu {
    width: 100%;
    flex-wrap: wrap;
  }
  .our-menu .our-menu-desc {
    width: 150px;
  }
  .our-menu .our-menu-desc p {
    font-size: 13px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .our-menu .our-menu-desc .buy-button {
    width: 70px;
    padding: 5px 15PX;
    border: none;
    background-color: rgb(221, 0, 136);
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 20px;
    margin: 10px auto;
  }
  .our-menu .our-menu-desc .buy-button:hover {
    color: rgb(221, 0, 136);
    background-color: white;
    border: 2px solid rgb(221, 0, 136);
    transition: 2s;
  }
}
.contact {
  border: none;
  background-color: rgb(245, 229, 239);
  margin: 40px 0;
  padding: 20px;
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.contact textarea {
  border: none;
  border-radius: 20px;
  outline: none;
}
.contact input {
  margin: 20px 20px;
  border: none;
  padding: 10px 10px;
  outline: none;
  border-radius: 20px;
}
.contact .send {
  width: 70px;
  padding: 5px 15PX;
  border: none;
  background-color: rgb(221, 0, 136);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 20px;
  margin: 10px auto;
  text-align: center;
}
.contact .send:hover {
  color: rgb(221, 0, 136);
  background-color: white;
  border: 2px solid rgb(221, 0, 136);
  transition: 2s;
}

@media screen and (max-width: 1000px) {
  .contact {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .contact {
    width: 90%;
  }
}

/*# sourceMappingURL=index.css.map */
